body{
	margin:0;
	padding:0;
}
#contenedor1 {
	display: block;
	max-height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	max-width: 1024px;
}
#btnSig{
	height: 27px;
	right:11px;
	position: absolute;
	bottom:10px;
	width: 27px;
}
#btnAnt{
	height: 27px;
	right:21px;
	position: absolute;
	bottom:10px;
	width: 27px;
}
#contenedor3 {
	background-color: #fff;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnSig1{
	height: 27px;
	right:16px;
	position: absolute;
	top:37px;
	width: 27px;
}
#btnAnt1{
	height: 27px;
	right: 42px;
	position: absolute;
	top:37px;
	width: 27px;
}
#barramenu{
	position: absolute;
	left:0;
	top:17px;
}
#logo{
	position: absolute;
    bottom: 25px;
    right: 20px;
}
#linea{
	position: absolute;
    left: 0;
    bottom: 121px;
}
#trigger-overlay {
	height: 49px;
	left: 10px;
	position: absolute;
	top: 24px;
	width: 49px;
	background: url(../General/Boton_Menu.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
#img2{
	position: absolute;
    left: 276px;
    top: 73px;
}
#img3{
	position: absolute;
    left: 269px;
    top: 223px;
}
#img1{
	position: absolute;
    left: 352px;
    top: 335px;
}
#img4{
	position: absolute;
    right: 689px;
    top: 387px;
}
#img5{
	position: absolute;
    right: 0;
    top: 489px;
}
#titulo{
	position: absolute;
    top: 38px;
    left: 95px;
}
#titulo1{
	position: absolute;
    top: 35px;
    left: 95px;
}

/*slide 2*/
#img10{
	position: absolute;
    left: 0;
    top: 73px;
}
#img11{
	position: absolute;
    left: 448px;
    top: 167px;
}
#img12{
	position: absolute;
    left: 183px;
    top: 242px;
}
#img14{
	position: absolute;
    right: 0;
    bottom: 120px;
}
#img13{
	position: absolute;
    left: 0;
    bottom: 149px;
}
#img6{
	position: absolute;
    left: 299px;
    bottom: 207px;
}
#img7{
	position: absolute;
    left: 420px;
    bottom: 149px;
}
#img8{
	position: absolute;
    left: 532px;
    bottom: 149px;
}
#img9{
	position: absolute;
    bottom: 66px;
    right: 0;
}





















