body{
	margin:0;
	padding:0;
}
#contenedor1 {
	display: block;
	max-height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	max-width: 1024px;
}
#btnSig{
	height: 27px;
	right:11px;
	position: absolute;
	bottom:10px;
	width: 27px;
}
#btnAnt{
	height: 27px;
	right:21px;
	position: absolute;
	bottom:10px;
	width: 27px;
}
#contenedor3 {
	background-color: #fff;
	display: block;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1024px;
}
#btnSig1{
	height: 27px;
	right:16px;
	position: absolute;
	top:37px;
	width: 27px;
}
#btnAnt1{
	height: 27px;
	right: 42px;
	position: absolute;
	top:37px;
	width: 27px;
}
#barramenu{
	position: absolute;
	left:0;
	top:17px;
}
#logo{
	position: absolute;
    bottom: 10px;
    right: 20px;
}
#linea{
	position: absolute;
    left: 0;
    bottom: 121px;
}
#trigger-overlay {
	height: 49px;
	left: 10px;
	position: absolute;
	top: 24px;
	width: 49px;
	background: url(../General/Boton_Menu.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
#img2{
	position: absolute;
    left: 99px;
    top: 73px;
}
#img3{
	position: absolute;
    left: 103px;
    top: 233px;
}
#img1{
	position: absolute;
    left: 655px;
    top: 335px;
}
#img4{
	position: absolute;
    right: 657px;
    top: 387px;
}
#img5{
	position: absolute;
    right: 359px;
    top: 489px;
}
#titulo{
	position: absolute;
    top: 38px;
    left: 95px;
}
#titulo1{
	position: absolute;
    top: 35px;
    left: 95px;
}
#img8new{
	position: absolute;
    left: -13px;
    bottom: 148px;
}
/*slide 2*/
#img10{
	position: absolute;
    left: 0;
    top: 73px;
}
#img11{
	position: absolute;
    left: 519px;
    top: 138px;
}
#img12{
	position: absolute;
    left: 755px;
    top: 136px;
}
#img14{
	position: absolute;
    right: 0;
    bottom: 120px;
}
#img13{
	position: absolute;
    left: 225px;
    bottom: 347px;
}
#img6{
	position: absolute;
    left: 299px;
    bottom: 207px;
}
#img7{
	position: absolute;
    left: 420px;
    bottom: 149px;
}
#img8{
	position: absolute;
    left: 532px;
    bottom: 149px;
}
#img9{
	position: absolute;
    bottom: 66px;
    right: 0;
}


#img19{
	position: absolute;
    top: 120px;
    left: 0;
}
#img20{
	position: absolute;
    left: 192px;
    top: 196px;
}
#img15{
	position: absolute;
    top: 153px;
    right: 49px;
}
#img21{
	position: absolute;
    bottom: 145px;
    left: 0;
}
#img16{
	position: absolute;
    bottom: 153px;
    left: 491px;
}
#img17{
	position: absolute;
    bottom: 153px;
    left: 508px;
}
#img18{
	position: absolute;
    bottom: 153px;
    left: 973px;
}

#img25{
	position: absolute;
    top: 72px;
    left: 271px;
}

#img26{
	position: absolute;
    top: 249px;
    left: 59px;
}
#img27{
	position: absolute;
    top: 350px;
    left: 488px;
}
#img22{
	position: absolute;
    top: 529px;
    left: 17px;
}
#img23{
	position: absolute;
    top: 530px;
    left: 58px;
}
#img24{
	position: absolute;
    top: 530px;
    left: 516px;
}
#img28{
	position: absolute;
    top: 33px;
    left: 39px;
}
#img29{
	position: absolute;
    right: 333px;
    bottom: 110px;
}
#img30{
	position: absolute;
    right: 124px;
    bottom: 308px;
}
#img31{
	position: absolute;
    right: 357px;
    bottom: 205px;
}

#img40{
	position: absolute;
    top: 94px;
    left: 79px;
}
#img41{
	position: absolute;
    top: 482px;
    left: 79px;
}
#img42{
	position: absolute;
    top: 527px;
    left: 79px;
}
.overlay {
	position: absolute;
	width: 1024px;
	height: 768px;
	margin-left:-512px;
	top: 0;
	left: 50%;
	background:  #fff;;
}
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	left: 10px;
	position: absolute;
	top: 18px;
	/*overflow: hidden;*/
	border: none;
	background: url(../Slide7/Boton_cerrar.png) no-repeat center center;
	/*text-indent: 200%;*/
	color: transparent;
	outline: none;
	z-index: 100;
}
/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
#fondo{
	position: absolute;
    top: 0;
    left: 0;
}
#menutitulo{
	position: absolute;
    top: 142px;
    left: 116px;
    z-index: 99999;
}
#menuprincipal{
	position: absolute;
    top: 263px;
    left: 267px;
    z-index: 99999;
}
#cuadro1{
	position: absolute;
    top: 0px;
    left: 0;
}
#cuadro2{
	position: absolute;
    left: 205px;
    bottom: 355px;
}
#cuadro3{
	position: absolute;
    bottom: 355px;
    left: 410px;
}
#cuadro4{
	position: absolute;
    bottom: 560px;
    left: 410px;
}
#cuadro5{
	position: absolute;
    top: 0;
    left: 615px;
}
#cuadro6{
	position: absolute;
    top: 0;
    right: 0;
}
#cuadro7{
	position: absolute;
    bottom: 136px;
    left: 245px;
}
#cuadro8{
	position: absolute;
    left: 225px;
    top: 41px;
}
#cuadro9{
	position: absolute;
    right: 221px;
    top: 232px;
}
#cuadro10{
	position: absolute;
    bottom: 69px;
    left: 244px;
}
#cuadro11{
	position: absolute;
    top: 718px;
    left: 0;
}

















