body{
	margin:0;
	padding:0;
}
#contenedor1 {
	display: block;
	max-height: 768px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	max-width: 1024px;
}
#btnSig{
	height: 27px;
	right:11px;
	position: absolute;
	bottom:10px;
	width: 27px;
}